<div class="sidenav">
  <a (click)="togglePage('load')">Load Data</a>
  <a (click)="togglePage('timeline')">Show Timeline</a>
</div>

<div class="content">
  <div *ngIf="isShowTimeline">
    <h1 style="text-align:center">
      Timeline Component!
    </h1>
    <horizontal-timeline [timelineElements]="timeline" [showContent]="true"></horizontal-timeline>
  </div>

  <div *ngIf="isShowLoad" style="text-align:center">
    <h1>
      Please load the data
    </h1>
    <input style="height: 400px; width: 600px;" type="text" [(ngModel)]="data">
    <div class="button">
      <button (click)="togglePage('timeline')">Load</button>      
    </div>
  </div>
</div>